.example-pdfs {
    position: relative;
    transform: translateX(-10%);
}

.example-pdfs img {
    width: 300px;
    box-shadow: -1px 1px 62px -18px black;
}

.example-pdfs img:nth-child(2) {
    position: absolute;
    top: -10%;
    right: -20%;
}
